.painel {
	background-image:
		url("/RecoMusic/resources/imagens/icones/capaMusic.jpg");
	background-size: cover;
	display: table;
	width: 100%;
	height: auto;
	min-height: 100%;
	table-layout: fixed;
}

.ui-widget-content .ui-icon
	{
	background-image:;
}

body {
	width: 100%;
	height: 100%;
	font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: #FFF;
}

html {
	width: 100%;
	height: 100%;
}

p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}

@media ( min-width :767px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}
}

a {
	color: #4F7799;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover,a:focus {
	text-decoration: none;
	color: #176e61;
}

.light {
	font-weight: 400;
}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url("/RecoMusic/resources/imagens/icones/capaMusic.jpg")
		no-repeat bottom center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.introLogadoTelaBranca {
	display: table;
	width: 100%;
	height: auto;
	padding: 80px 0;
	text-align: left;
	color: #FFF;
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.painelRedefinirSenha {
	padding-top: 48px;
	width: 100%;
	padding-bottom: 48px;
	padding: 30px;
	margin-bottom: 30px;
	min-width: 250px;
	font-size: 21px;
	font-weight: 200;
	color: #000;
	border-radius: 0px;
	margin: 100px;
	background-color: #FAFAFA
}

.painelPaginaPrincLogado {
	text-align: left;
	font-size: 21px;
	padding: 70px 0;
	background-color: #FFF;
	font-weight: 200;
	color: inherit;
	background-color: #FFF;
	border-radius: 0px;
	width: 100%;
	height: 20%";
}

.introLogado {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: e5e5e5;
	background-color: #FAFAFA;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.painelPesquisaMusica {
	text-align: left;
	padding: 40px 30px;
	color: inherit;
	background-color: #E0E0E0;
	border-radius: 0px;
	margin: 30px 0;
	width: 100%;
	height: auto";
	min-width: 250px;
}

.painelPesquisaMusicacomMusicas {
	text-align: left;
	padding: 40px 0;
	color: inherit;
	background-color: #FFFFFF;
	border-radius: 0px;
	width: 100%;
	margin: 0 0;
	height: auto";
	min-width: 250px;
}

.painelCadastroPrincipal {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	padding: 40px 40px;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
	color: inherit;
	background-color: #FAFAFA;
	min-width: 280px;
	border-radius: 0px;
	padding-bottom: 7%;
	padding-top: 3%;
	margin: 10px 10px;
	width: 55%;
	height: 20%";
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Custom page footer */
.footerPaginaInicialNome {
	padding-top: 19px;
	color: #555555;
	border-top: 1px solid #555555;
	margin: auto;
	width: 20%;
}

.intro-body {
	display: table-cell;
	vertical-align: middle;
}

.botaoCurtir {
	img: src="/RecoMusic/resources/imagens/icones/btCutir.jpg"
}

.radioButton {
	padding: 10px 10px; /* Alteraçao, corrigir qualquer coisa*/
	margin-left: 20px;
	margin: 4px 10px 0;
}

.brand-heading {
	font-size: 40px;
}

@media ( min-width :767px) {
	.intro {
		height: 100%;
		padding: 0;
	}
	.brand-heading {
		font-size: 100px;
	}
	.intro-text {
		font-size: 25px;
	}
}

/* Hide for mobile, show later */
.content-section {
	padding-top: 100px;
}

media (min-width: 767px ) { .content-section { padding-top:250px;
	
}

.download-section {
	padding: 100px 0;
}

#map {
	height: 400px;
	margin-top: 250px;
}

}
input[type="radio"] {
	margin: 1px 3px;
	margin-left: 35px
}

/* Texto do lado */

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media ( min-width : 765px) {
	.sidebar {
		position: fixed;
		top: 0px;
		bottom: 0;
		display: block;
		padding: 20px;
		background-color: #f5f5f5;
	}
}